.reviews {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: #f2d2c0;
  width: 100%;
  min-height: 100vh;
}

.review_goback {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.55rem;
  cursor: pointer;
  color: var(--primary-color);
  padding: 0.5rem;
  box-sizing: content-box;
  border-radius: 50%;
  transition: ease-in-out 0.1s;
}

.review_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
}

.text1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.review_border {
  background-color: #f2d2c0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  padding: 20px 0;
  position: relative;
  height: 250px;
  border-radius: 10px;
  top: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.reviews_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review_input {
  width: 500px;
  height: 100px;
  align-self: center;
  border: 1px solid var(--primary-color);
}

.submit_button {
  font-size: 1px !important;
  margin: 1rem;
  padding: 0.5rem;
  background-color: var(--tertiary-color);
  color: #ffffff;
  border-radius: 35px;
  text-align: center;
  width: 10%;
}

.submit_button button {
  font-size: 1.2rem;
}

.reviews_container {
  width: 80%;
  margin-top: 2rem;
}

.reviewCard {
  background-color: #f2d2c0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  width: 75%;
  margin: 0.8rem auto;
  height: 70px;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  text-decoration: none;
}

.reviewCard__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--primary-font);
  font-style: normal;
  margin-left: 1rem;
  color: #000;
}

.reviewCard__info h1 {
  font-weight: 700;
  font-size: 19px;
  color: var(--secondary-color);
  margin-bottom: 7px;
}

.reviewCard__info p {
  font-weight: 400;
  font-size: 15px;
}

.reviewCard img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
